[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
bcrypt = "*"
flask = "*"
instagram-private-api = "*"
requests-oauthlib = "*"
pymongo = "*"
pyopenssl = "*"
requests = "*"
pandas = "*"
tqdm = "*"
numpy = "*"
netwulf = "*"
graphistry = "*"

[requires]
python_version = "3.7"
